
{% extends 'base.html'%}
{% load static %}
{% block content %}

 
        <!-- Start of slider area -->
        <div id="cx-slider" class="cx-slider-area">
            <div class="cx-sliders slider-nd-style">
                <div class="single-slider height-100 sbg-2" data-black-overlay="4">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide-content text-center text-white pt-280 pb-100">
                                        <h4>WELCOME to</h4>
                                        <h1 class="cd-headline cx-heading clip">En-lighten<span
                                                style="color: #f7dbb4;">/</span>
                                            <span class="text-theme">
                                                <span class="cd-words-wrapper cd-words-wrapper-2">
                                                    <b class="is-visible">E</b>
                                                    <b>Eagerly</b>
                                                    <b>Efficiently</b>
                                                    <b>Everyone</b>
                                                </span>
                                            </span>
                                        </h1>
                                        <p>En-lighten<span>/</span><span class="highlight">E</span> is a house of
                                            developers who strive to<br> En-lighten<span>/</span><span
                                                class="highlight">E</span>very business.<br> <span class="quote">We
                                                believe that all business should be able to reach users of their
                                                services/products with precision. </span></p>

                                        <div class="cx-btn-group mt-50">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-down-btn"><a href="#our-service-area"><i class="icofont icofont-long-arrow-down"></i></a>
            </div>
        </div>
        <!-- End of slider area -->
        <!-- Start our srvice area -->
        <section id="our-service-area" class="cx-section pt-100 pb-50 gray-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="title-line black">Our Services</h2>
                            <p class="black">High-Quality is what En-lighten/Everyone stands for with all the services we offer. Take
                                a glance at what En-lighten/Efficiently can offer you.</p>
                        </div>
                    </div>
                </div>
                <div class="cx-services clearfix">
                    <div class="row">
                        <!--Start Single service -->
                        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                            <div class="single-service">
                                <div class="service-inner">
                                    <i class="icofont icofont-database "></i>
                                    <h3 class="service-title">DATABASE DESIGN</h3>
                                    <p>Database design is very important to all businesses. We here like to
                                        En-lighten/Every company starting a new database with the correct way to manage
                                        their customer’s information.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single service -->
                        <!--Start Single service -->
                        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                            <div class="single-service">
                                <div class="service-inner">
                                    <i class="icofont icofont-unique-idea"></i>
                                    <h3 class="service-title">WEB APPLICATION DESIGN</h3>
                                    <p>Web Applications are evolving En-lighten/Engineering is made to accommodate the
                                        change with reusability design in mind when tailoring your personalized
                                        application.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single service -->
                        <!--Start Single service -->
                        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                            <div class="single-service">
                                <div class="service-inner">
                                    <i class="icofont icofont-cloud"></i>
                                    <h3 class="service-title">CLOUD SYSTEM CREATION</h3>
                                    <p>Cloud systems are trending now these days. With that said the right set up really
                                        matters so, we En-lighten/Everyone on your team how to use the new system.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single service -->
                        <!--Start Single service -->
                        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                            <div class="single-service">
                                <div class="service-inner">
                                    <i class="icofont icofont-ui-touch-phone"></i>
                                    <h3 class="service-title">Native Coding</h3>
                                    <p>En-lighten/Eloquent User Interfaces will take the breath away from any companies
                                        customers using their new mobile application. Which will have access to almost
                                        all the native features in Android, IOS, and Windows phone.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single service -->
                        <!--Start Single service -->
                        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                            <div class="single-service">
                                <div class="service-inner">
                                    <i class="icofont icofont-growth"></i>
                                    <h3 class="service-title">Google Analytics</h3>
                                    <p>With web and mobile it would be nice to keep in touch with all the interaction
                                        taking place on ether platform. With Google Analytics En-lighten/Extract the raw
                                        data and place it for you in a personalize dashboard.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single service -->
                        <!--Start Single service -->
                        <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                            <div class="single-service">
                                <div class="service-inner">
                                    <i class="icofont icofont-code"></i>
                                    <h3 class="service-title">API DESIGN</h3>
                                    <p>Security is the most important issue with API’s plus keeping well documented
                                        reference to the API. Having one backend and many frontends is ideal for a
                                        company as En-lighten/Exports all API’s with this mindset in mind.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single service -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Start our srvice area -->
        <!-- Start About area -->
        <div class="cx-about-area ptb-100 white-bg cx-section" id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                        <div class="cx-about-leftside">
                            <img src="{% static 'images/images/AdobeStock_120166782.jpeg'%}" alt="">
                        </div>
                    </div>
                    <div class="col-md-7  col-lg-7 col-sm-12 col-xs-12">
                        <div class="cx-about-rightside">
                            <div class="cx-about-info">
                                <h3>design is at the heart of everything we do</h3>
                                <p>We bring design to you in a light that is designed to give you an En-lighten/Exo
                                    understanding of your clients. Each component is comprised to keep you in tune with
                                    your company as a whole living organism. Fully geared to compose you're reshaping
                                    into a new transparent outlook for your executives to see the inner working unfold.
                                    With this insight, En-lighten/Excels key moves as paved roads to success.
                            </div>
                            <div class="cx-skill">
                                <h3>we have skills to show </h3>
                                <div class="cx-skill-inner">
                                    <!-- Start single skill -->
                                    <div class="cx-single-skill">
                                        <p>Django</p>
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s"
                                                data-wow-delay=".5s" role="progressbar" aria-valuenow="90"
                                                aria-valuemin="0" aria-valuemax="100" style="width:98%"><span
                                                    class="pen-lable">98%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single skill -->
                                    <!-- Start single skill -->
                                    <div class="cx-single-skill">
                                        <p>Ionic 4</p>
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s"
                                                data-wow-delay=".5s" role="progressbar" aria-valuenow="80"
                                                aria-valuemin="0" aria-valuemax="100" style="width:100%"><span
                                                    class="pen-lable">100%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single skill -->
                                    <!-- Start single skill -->
                                    <div class="cx-single-skill">
                                        <p>Angular 2</p>
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s"
                                                data-wow-delay=".6s" role="progressbar" aria-valuenow="95"
                                                aria-valuemin="0" aria-valuemax="100" style="width:95%"><span
                                                    class="pen-lable">95%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single skill -->
                                    <!-- Start single skill -->
                                    <div class="cx-single-skill">
                                        <p>Postgresql</p>
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s"
                                                data-wow-delay=".7s" role="progressbar" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100" style="width:95%"><span
                                                    class="pen-lable">95%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cx-single-skill">
                                        <p>SQL Server</p>
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s"
                                                data-wow-delay=".7s" role="progressbar" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100" style="width:85%"><span
                                                    class="pen-lable">85%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cx-single-skill">
                                        <p>AWS(Amazon Web Services)</p>
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s"
                                                data-wow-delay=".7s" role="progressbar" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100" style="width:98%"><span
                                                    class="pen-lable">98%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single skill -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About area   -->
        <!-- start subscribe area   -->
        <section class="cx-section subscribe-area ptb-100 bg-8">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="title-line">En-Lighten/Efficiently</h2>
                            <p class="white">We want to En-lighten/Every Company from Orlando to the whole USA and
                                World!</p>
                        </div>
                    </div>
                </div>
                <!-- Start subscribe area -->
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <div class="cx-sub-form-wrap center">


                            {% comment %} <input type="submit" value="Get A Quote" class="cx-btn" data-toggle="modal" data-target="#myModal"> {% endcomment %}

                        </div>
                    </div>
                </div>
                <!-- End subscribe area -->

                <!-- End Social area -->
            </div>
        </section>
        <!-- End subscribe area   -->
        
        <!-- Start quality-area -->
        <section class="cx-quality-area ptb-100" id="quality">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <div class="row mb-40">
                            <div class="col-md-12">
                                <div class="section-title cx-section-title-2 text-left">
                                    <h2 class="title-line">WE PROVIDE QUALITY</h2>

                                    <p>When I took on the challenge of creating a springboard that would catapult
                                        companies into an era of technology like never before. This job was set with
                                        obstacles for me and I took it on with an insight never seen before. I wanted to
                                        take it head on not only create an ecosystem for my customers to thrive as well
                                        as En-lighten/Everyone in the companies who allowed me to take their
                                        infrastructure an reshape its presences. Then look through the core structure an
                                        En-Lighten/ Eagerly its infrastructure with the present organic structure
                                        comprise to all the optimization possible without losing its validity. </p>

                                    <p class="hidden-sm">Then take the key standing of the employees of the companies an
                                        En-lighten/Efficiently their understanding of the new infrastructure. This will
                                        give a light to all the key components so the ecosystem can grow outside its
                                        hemisphere to strategize is what we do best. If well stand to
                                        En-lighten/Everyone in this Eagerly and Efficiently manor all companies that
                                        take the take flight method with us there is no way that company would lose.
                                    </p>

                                    <div class="cx-quality-detail">
                                        <h2 class="qun-name">Jonathan Constant</h2>
                                        <h4 class="qun-post">CEO OF COMPANY</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-offset-1 col-lg-4 col-sm-6 col-xs-12">
                        <div class="cx-qun-content">
                            <div class="cx-qun-img">
                                <img src="{% static 'images/images/AdobeStock_42613560.jpg'%}" alt="">

                                <img class="none" src="{% static 'images/images/AdobeStock_85654352.jpeg'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End quality-area -->
        
 <!-- Alerts -->
  {% include "partials/_alerts.html" %} 
        <!-- start contact  Area  -->
        <div class="our-contact-area cx-section ptb-100 bg-6" data-black-overlay="7" id="contact">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="title-line">CONTACT US</h2>
                            <p>We are making standing companies take off with our developing techniques that takes them into
                                an ecosystem redsigned based on thier needs. This ecosystem will not only take them up out of their current system in place but; 
                                give them room to expand. These strategizes
                                could be implemented into your current standing company. Fill out this form we will get back to
                                you no later than 12 hours guarantee. <br><br> Let US En-Lighten/Eagerly Your Presence!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="cx-contact-form">
                            <form action="{% url 'contact' %}" method="POST">
                               {% csrf_token %}
                                <div class="cx-input-group clearfix">
                                    <div class="single-input name one-half left">
                                        <input type="text" name="name" placeholder="Name" required>
                                    </div>
                                    <div class="single-input email one-half right">
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="cx-input-group clearfix">
                                    <div class="single-input phone one-half left">
                                        <input type="text" name="phone" placeholder="Phone Number" required>
                                    </div>
                                    <div class="single-input subject one-half right">
                                        <input type="text" name="subject" placeholder="Subject" required>
                                    </div>
                                </div>
                                <div class="single-input message">
                                    <textarea placeholder="Message" name="message"></textarea>
                                </div>
                                <div class="single-input text-center">
                                    <input type="submit" value="Send Message" class="cx-btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cx-address-wrap clearfix mt-20">

                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">

                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                            <div class="single-address text-center">
                                <i class="icofont icofont-ui-call"></i>
                                <h4>Call Us</h4>
                                <p><a href="tel:14074946120">+ 1 407 494 6120</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End contact  Area  -->
        <!-- Start footer area -->
        <footer id="footer" class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="copyright text-left xstext-center">
                            <p> &copy; 2020 <a href="#">En-Lighten/E</a> | ALL Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="social-share text-right xstext-center">
                            <ul>
                                {% comment %} <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li> {% endcomment %}
                                <li><a href="https://www.instagram.com/en_lightene/" target="blank"><i class="icofont icofont-social-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/jonathan-constant-32211b9b" target="blank"><i class="icofont icofont-social-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer area -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content " >
                    
                    <!-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        
                        <img src="images/images/Logo/logo_icon.png" alt="" class="modal-title">
                    </div> -->
                    <div class="modal-body quote-background">
                            <button type="button" class="close" style="color: #4fc1f0" data-dismiss="modal">X</button>
                            <div class="row mb-40">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h2 class="title-line"><img src="{% static 'images/images/Logo/logo_icon.png'%}" alt="En-lighten/E Logo"></h2>
                                         <p> Let US En-Lighten/Eagerly Your Presence!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="cx-contact-form">
                                    <form action="#">
                                        <div class="cx-input-group clearfix">
                                            <div class="single-input name one-half left">
                                                <input type="text" placeholder="Name">
                                            </div>
                                            <div class="single-input email one-half right">
                                                <input type="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="cx-input-group clearfix">
                                            <div class="single-input phone one-half left">
                                                <input type="text" placeholder="Phone Number">
                                            </div>
                                            <div class=" single-input subject one-half right">
                                                <select class="form-control" id="sel1">
                                                  <option>What Are You Looking For? (Select)</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                </select>
                                              </div>
                                        </div>
                                       
                                        <div class="single-input message">
                                            <textarea placeholder="Message"></textarea>
                                        </div>
                                        <div class="single-input text-center">
                                            <input type="submit" value="Send Message" class="cx-btn">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-modal" data-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!-- Body main wrapper end -->
        <!--start back to top -->
        <div class="hidden-xs" id="back-top"><i class="fa fa-angle-up"></i></div>
{% endblock %}